.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cartita {
  display: inline-block;
  width: 240px;
  margin-top: 3rem;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
  transition: all 0.3s ease-out;
}
.cartita:hover {
  transform: scale(1.1);
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.carrito {
  display: inline-block;
}
.CarritoWidget {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: rgb(165, 255, 165);
}
.btn {
  border-radius: 20px;
}
#operator {
  margin-left: 10px;
  margin-right: 10px;
}
#Count1 {
  display: flex;
  justify-content: center;
  border: 0px;
}
#gDetail {
  margin-right: 5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
